<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<title>CacERP 2.0</title>
		<link rel="stylesheet" type="text/css" href="/lib/ext/resources/css/ext-all.css" /> 
		<link rel="stylesheet" type="text/css" href="/lib/ext/examples/ux/css/Portal.css" /> 
    	<link rel="stylesheet" type="text/css" href="/lib/ext/examples/ux/css/GroupTab.css" /> 
		<script type="text/javascript" src="/lib/ext/adapter/ext/ext-base.js"></script> 
    	<script type="text/javascript" src="/lib/ext/ext-all-debug.js"></script>
		<script type="text/javascript" src="/lib/ext/examples/ux/GroupTabPanel.js"></script> 
    	<script type="text/javascript" src="/lib/ext/examples/ux/GroupTab.js"></script> 
 
    	<script type="text/javascript" src="/lib/ext/examples/ux/Portal.js"></script> 
    	<script type="text/javascript" src="/lib/ext/examples/ux/PortalColumn.js"></script> 
    	<script type="text/javascript" src="/lib/ext/examples/ux/Portlet.js"></script> 
 
    	<script type="text/javascript" src="/lib/ext/examples/shared/examples.js"></script> 
    	<script type="text/javascript" src="/lib/ext/examples/portal/sample-grid.js"></script>
		<script type="text/javascript" src="/lib/ext/examples/ux/BufferView.js"></script>
		<style type="text/css">
			.visualizza {
				background-image: url(lib/icons/magnifier.png) !important;
			}
			
			.row-cliente {
				background-color: #ADDFFF !important;
			}
			
			.genera-etichette {
				background-image: url(lib/icons/email.png) !important;
			}
			
			.rimuovi-etichette {
				background-image: url(lib/icons/email_delete.png) !important;
			}
		</style> 
		<script type="text/javascript">

Ext.namespace('cacerp');

cacerp.PagedGrid = Ext.extend(Ext.grid.GridPanel, {
	
	sm: new Ext.grid.RowSelectionModel({singleSelect:true}),
	
	initComponent: function(){
		Ext.apply(this, {
			stateful: true,
			autoScroll: true,
			remoteSort: true,
			listeners:{
				'activate': function(cmp){
					cmp.store.reload();
				}
			},
			bbar: new Ext.PagingToolbar({
			    store: this.store,
			    pageSize:500,
			    displayInfo:true,
		    }),
			view: new Ext.ux.grid.BufferView({
			    scrollDelay: false,
				forceFit:true,
		    })
		});
		Ext.applyIf(this,{columns:listcolumns.slice()});
		cacerp.PagedGrid.superclass.initComponent.apply(this, arguments);
	}
});

Ext.reg('pagedgrid', cacerp.PagedGrid);

var listreader = [
	{name: 'id'},
    {name: 'cognome', allowBlank: true},
    {name: 'nome', allowBlank: true},
    {name: 'indirizzo', allowBlank: true},
	{name: 'telefono', allowBlank: true},
	{name: 'cellulare', allowBlank: true},
	{name: 'cliente', allowBlank: true},
	{name: 'data_ultima_chiamata', allowBlank: true},
	{name:'risposta', allowBlank:true},
	{name:'perdita_media', allowBlank:true},
	{name:'note', allowBlank:true}
];

var reader = new Ext.data.JsonReader({
	root: 'root',
	totalProperty: 'totalCount'
}, listreader);


var store = new Ext.data.Store({
    reader: reader,
	proxy: new Ext.data.HttpProxy({url: '{% url api %}search/Persona.json', method: 'GET'}),
});

var listcolumns = [
		            {id:'cognome',header: 'Cognome', sortable: true, dataIndex: 'cognome'},
		            {header: 'Nome', sortable: true, dataIndex: 'nome'},
		            {header: 'Indirizzo', width: 160, sortable: true, dataIndex: 'indirizzo'},
					{header: 'Telefono', width: 80, sortable:false, dataIndex: 'telefono'},
					{header: 'Chiama telefono', width: 30, renderer: add_skype_button, sortable:false, dataIndex: 'telefono'},
					{header: 'Cellulare', width: 90, sortable:false, dataIndex: 'cellulare'},
					{header: 'Chiama cellulare', width: 30, renderer: add_skype_button, sortable:false, dataIndex: 'cellulare'},
					{header: 'Data ultima chiamata', width: 50, sortable:true, dataIndex: 'data_ultima_chiamata'},
					{header: 'Risposta ultima chiamata', width: 70, sortable:true, dataIndex: 'risposta'},
					{header: 'Perdita', width: 30, sortable:true, dataIndex: 'perdita_media'},
					{header: 'Note', width:160, sortable:false, dataIndex: 'note'}
		        ];
		        
var etichette_columns = listcolumns.slice(0,7);
etichette_columns.push({header: 'Data inserimento', width: 50, sortable:true, dataIndex: 'data'});

var lettere_columns = [
						{header: 'Data inserimento', width: 50, sortable:true, dataIndex: 'data'},
						{header: 'Data invio', width: 50, sortable:true, dataIndex: 'data_invio'}
                    ];
var lettere_reader = [
                      {name:'data', allowBlank:false},
                      {name:'data_invio', allowBlank:false}
                   ];


var persona_fields = 		[{
								fieldLabel: 'Cognome',
					            name: 'cognome',
								width: 300,
							},{
								fieldLabel: 'Nome',
								name: 'nome',
								width: 300,
							},{
								fieldLabel: 'Secondo cognome',
								name: 'secondo_cognome',
								width: 300,
							},{
								fieldLabel: 'Indirizzo',
								name: 'indirizzo',
								width: 300,
							},{
								fieldLabel: 'Città',
								name: 'citta',
								width: 300,
							},{
								fieldLabel: 'Provincia',
								name: 'provincia',
							},{
								fieldLabel: 'CAP',
								name: 'cap',
							},{
								fieldLabel: 'Telefono',
								name: 'telefono',
								width: 300,
							},{
								fieldLabel: 'Cellulare',
								name: 'cellulare',
								width: 300,
							},{
								fieldLabel: 'Email',
								name: 'email',
								vtype:'email',
								width: 300,
							},{
								fieldLabel: 'Cliente',
								name: 'cliente',
								xtype: 'checkbox',
							},{
								fieldLabel: 'Problemi udito',
								name: 'problemi_udito',
								xtype: 'checkbox',
							},{
								fieldLabel: 'Porta apparecchio',
								name: 'porta_apparecchio',
								xtype: 'checkbox',
							},{
								fieldLabel: 'Venuto',
								name: 'venuto',
								xtype: 'checkbox',
							},{
								fieldLabel: 'Spontaneo',
								name: 'spontaneo',
								xtype: 'checkbox',
							},{
								fieldLabel: 'Perdita media',
								xtype:'combo',
								triggerAction: 'all',
							    lazyRender:true,
								allowBlank: true,
							    mode: 'local',
							    store: new Ext.data.ArrayStore({
							        fields: [
							            'displayText',
							        ],
							        data: [[''], ['0%'], ['10%'], ['20%'], ['30%'], ['35%'], ['40%'], ['45%'], ['50%'], ['Oltre']]
							    }),
								tpl:'<tpl for="."><div class="x-combo-list-item">{displayText}&nbsp;</div></tpl>',
							    displayField: 'displayText',
								hiddenName: 'perdita_media',
							},{
								fieldLabel: 'Tipo apparecchio',
								name: 'tipo_apparecchio',
								width: 300,
							},{
								fieldLabel: 'Lato Apparecchio',
								xtype:'combo',
								triggerAction: 'all',
							    lazyRender:true,
								allowBlank: true,
							    mode: 'local',
							    store: new Ext.data.ArrayStore({
							        fields: [
										'id',
							            'displayText',
							        ],
							        data: [['', ''], [0, 'Nessuno'], [1, 'Dx'], [2, 'Sx'], [3, 'Bino']],
							    }),
								tpl:'<tpl for="."><div class="x-combo-list-item">{displayText}&nbsp;</div></tpl>',
								valueField: 'id',
							    displayField: 'displayText',
								hiddenName: 'lato_apparecchio',
							},{
								fieldLabel: 'Pila',
								xtype:'combo',
								triggerAction: 'all',
							    lazyRender:true,
								allowBlank: true,
							    mode: 'local',
							    store: new Ext.data.ArrayStore({
							        fields: [
										'id',
							            'displayText',
							        ],
							        data: [['', ''], [0, 'Nessuna'], [1, '10'], [2, '312'], [3, '13'], [4, '675']],
							    }),
								tpl:'<tpl for="."><div class="x-combo-list-item">{displayText}&nbsp;</div></tpl>',
								valueField: 'id',
							    displayField: 'displayText',
								hiddenName: 'pila',
							},{
								fieldLabel: 'Note',
								name: 'note',
								xtype:'textarea',
								width: 350,
					        	height: 200,
							},{
								fieldLabel: 'Preventivo',
								name: 'preventivo',
								xtype:'textarea',
								width: 350,
					        	height: 200,
							}];

cacerp.Window = Ext.extend(Ext.Window,{
	close:function(){
		Ext.Msg.show({
			title: 'Chiusura finestra',
			msg: 'Sei sicuro di voler chiudere la finestra senza salvare?',
			buttons: Ext.Msg.OKCANCEL,
			icon: Ext.MessageBox.INFO,
			scope:this,
			fn:function(ans){
				if(ans=='ok'){
					cacerp.Window.superclass.close.apply(this, arguments);
				}
			}
		});
	}
}); 

function add_skype_button(val){
	if(val)
		return '<a href="skype:+39'+val+'?call"><img src="lib/icons/telephone.png" style="border: none;" width="15" height="15" alt="Skype Me™!" /></a>'
	return val
}

function showMessage(title, text, fn){
	
	if (!fn) fn = function(){};
	
	Ext.Msg.show({
		   title:title,
		   msg: text,
		   buttons: Ext.Msg.OK,
		   fn: fn,
		   icon: Ext.MessageBox.INFO
		});
}

function displayPerson(grid, rowIndex, e){
		var record = grid.getStore().getAt(rowIndex);
		Ext.Ajax.request({
			url : '{% url api %}Persona/'+record.data.id+'.json' , 
			method: 'GET',
			success: function ( result, request ) { 
				var myForm;
				var values = Ext.decode(result.responseText);
	
				win = new cacerp.Window({
                width:500,
                height:600,
				autoScroll:true,
				title:'Dettagli persona',

                items: myForm = new Ext.FormPanel({
        			defaultType: 'textfield',
					formId:'windowForm',
					bodyStyle: 'padding: 10px; background-color: #DFE8F6',
					
        			items: [{
						fieldLabel: 'Cognome',
						name: 'cognome',
						value: values.cognome,
						width: 300,
					},{
						fieldLabel: 'Nome',
            			name: 'nome',
						value: values.nome,
						width: 300,
					},{
						fieldLabel: 'Secondo cognome',
						name: 'secondo_cognome',
						value: values.secondo_cognome,
						width: 300,
					},{
						fieldLabel: 'Indirizzo',
						name: 'indirizzo',
						value: values.indirizzo,
						width: 300,
					},{
						fieldLabel: 'Città',
						name: 'citta',
						value: values.citta,
						width: 300,
					},{
						fieldLabel: 'Provincia',
						name: 'provincia',
						value: values.provincia,
						width: 300,
					},{
						fieldLabel: 'CAP',
						name: 'cap',
						value: values.cap,
						width: 300,
					},{
						fieldLabel: 'Telefono',
						name: 'telefono',
						value: values.telefono,
						width: 300
					},{
						fieldLabel: 'Cellulare',
						name: 'cellulare',
						value: values.cellulare,
						width: 300,
					},{
						fieldLabel: 'Email',
						name: 'email',
						vtype:'email',
						value: values.email,
						width: 300,
					},{
						fieldLabel: 'Cliente',
						name: 'cliente',
						xtype: 'checkbox',
						checked: values.cliente,
					},{
						fieldLabel: 'Problemi udito',
						name: 'problemi_udito',
						xtype: 'checkbox',
						checked: values.problemi_udito,
					},{
						fieldLabel: 'Porta apparecchio',
						name: 'porta_apparecchio',
						xtype: 'checkbox',
						checked: values.porta_apparecchio,
					},{
						fieldLabel: 'Venuto',
						name: 'venuto',
						xtype: 'checkbox',
						checked: values.venuto,
					},{
						fieldLabel: 'Spontaneo',
						name: 'spontaneo',
						xtype: 'checkbox',
						checked: values.spontaneo,
					},{
						fieldLabel: 'Perdita media',
						xtype:'combo',
						triggerAction: 'all',
					    lazyRender:true,
						allowBlank: true,
					    mode: 'local',
					    store: new Ext.data.ArrayStore({
					        fields: [
					            'displayText',
					        ],
					        data: [[''], ['0%'], ['10%'], ['20%'], ['30%'], ['35%'], ['40%'], ['45%'], ['50%'], ['Oltre']]
					    }),
						tpl:'<tpl for="."><div class="x-combo-list-item">{displayText}&nbsp;</div></tpl>',
					    displayField: 'displayText',
						hiddenName: 'perdita_media',
						value: values.perdita_media
					},{
						fieldLabel: 'Tipo apparecchio',
						name: 'tipo_apparecchio',
						width: 300,
						value: values.tipo_apparecchio,
					},{
						fieldLabel: 'Lato Apparecchio',
						xtype:'combo',
						triggerAction: 'all',
					    lazyRender:true,
						allowBlank: true,
					    mode: 'local',
					    store: new Ext.data.ArrayStore({
					        fields: [
								'id',
					            'displayText',
					        ],
					        data: [['', ''], [0, 'Nessuno'], [1, 'Dx'], [2, 'Sx'], [3, 'Bino']],
					    }),
						tpl:'<tpl for="."><div class="x-combo-list-item">{displayText}&nbsp;</div></tpl>',
						valueField: 'id',
					    displayField: 'displayText',
						hiddenName: 'lato_apparecchio',
						value: values.lato_apparecchio,
					},{
						fieldLabel: 'Pila',
						xtype:'combo',
						triggerAction: 'all',
					    lazyRender:true,
						allowBlank: true,
					    mode: 'local',
					    store: new Ext.data.ArrayStore({
					        fields: [
								'id',
					            'displayText',
					        ],
					        data: [['', ''], [0, 'Nessuna'], [1, '10'], [2, '312'], [3, '13'], [4, '675']],
					    }),
						tpl:'<tpl for="."><div class="x-combo-list-item">{displayText}&nbsp;</div></tpl>',
						valueField: 'id',
					    displayField: 'displayText',
						hiddenName: 'pila',
						value: values.pila,
					},{
						fieldLabel: 'Note',
						name: 'note',
						xtype:'textarea',
						width: 350,
        				height: 200,
						value: values.note,
					},{
						fieldLabel: 'Preventivo',
						name: 'preventivo',
						xtype:'textarea',
						width: 350,
        				height: 200,
						value: values.preventivo,
					}, new cacerp.PagedGrid({
						fieldLabel:'Lettere inviate',
						name:'lettere_inviate',
						height:300,
						columns:lettere_columns.slice(),
						store: new Ext.data.Store({
						   	reader: new Ext.data.JsonReader({
								root: 'root',
					            totalProperty: 'totalCount',
							}, lettere_reader.slice()),
						   	autoLoad: {params:{start:0, limit:500}},
							proxy: new Ext.data.HttpProxy({url: '{% url callcenter %}listLettersSent/'+record.data.id, method: 'GET'})
						})
					})], 
				}),

        buttons: [{
			text: 'Elimina',
			handler:function(){
				Ext.Msg.show({
					title: 'Cancellazione persona',
					msg: 'Sei sicuro di voler cancellare la persona dal database?',
					buttons: Ext.Msg.OKCANCEL,
					fn: function(resp){
						if(resp=='ok'){
							Ext.Ajax.request({
								url: '{% url api %}Persona/' + record.data.id + '.json',
								method: 'DELETE',
								failure: function(result, request){
									Ext.MessageBox.alert('Errore', result.responseText);
								},
								success: function(response, request){
									Ext.Msg.show({
									   title:'Persona cancellata',
									   msg: 'Persona correttamente cancellata',
									   buttons: Ext.Msg.OK,
									   fn: function(resp){
									   		win.destroy();
									   },
									   icon: Ext.MessageBox.INFO
									});
								}
							});
						}
					},
					icon: Ext.MessageBox.QUESTION
				});
			}			
			},{
					text:'Chiamato',
					handler: function(){
						var win2 = new Ext.Window({
			                width:350,
			                height:120,
			                closeAction:'destroy',
							autoScroll:true,
							title:'Dettagli persona',
							items: new Ext.FormPanel({
			        			defaultType: 'textfield',
								formId:'ChiamataForm',
								items:[{
									fieldLabel: 'risposta',
									xtype:'combo',
									triggerAction: 'all',
								    lazyRender:true,
								    mode: 'local',
								    store: new Ext.data.ArrayStore({
								        fields: [
								            'myId',
								            'displayText',
								        ],
								        data: [[1, 'Ha risposto'], [2, 'Assente'], [3, 'Occupato'], [4, 'Inesistente']]
								    }),
								    valueField: 'myId',
								    displayField: 'displayText',
									hiddenName: 'risposta',
									value: '1'
								},{
									hidden:true,
									name:'persona',
									value:record.data.id,
								}],
								}),
							buttons: [{
								text:'Ok',
								handler: function(){
									Ext.Ajax.request({
					 					url: '{% url api %}Chiamata.json',
					 					method: 'POST',
					 					form: 'ChiamataForm',
					 					failure: function ( result, request) { 
													Ext.MessageBox.alert('Errore', result.responseText); 
													},
										success: function(response, request){
											win2.destroy();
										}
									});
								}
							}],
						});
						win2.show(this);
					},				 
                },{
                	text:'Invia lettera',
                	handler:function(){
                		Ext.Ajax.request({
                			url: '{%url callcenter %}sendLetter/'+record.data.id,
                			method: 'POST',
                			form: 'windowForm',
                			failure:function(result,request){
                				Ext.MessageBox.alert('Errore', 'Errore nel server :' + result.responseText);
                			},
                			success:function(){
                				showMessage('Spedizione lettera', 'La richiesta di spedizione lettera &egrave stata correttamente inoltrata al sistema');
                			}
                		});
                	}
                },{
                 	text:'Salva',
					handler: function(){
						Ext.Ajax.request({
                	 		url : '{% url api %}Persona/'+record.data.id+'.json',
							method: 'PUT',
							form: 'windowForm',
							failure: function ( result, request) { 
								Ext.MessageBox.alert('Errore', result.responseText); 
							},
							success: function(){
								win.destroy();
							} 
                		});
					},				 
                }]
            });
        	win.show(this); 
			},
			failure: function ( result, request) { 
				Ext.MessageBox.alert('Failed', result.responseText); 
			} 
		});
	}


cacerp.EtichettePanel = Ext.extend(Ext.Panel,{
	initComponent:function(){
		var readerconf = listreader.slice();
		readerconf.push({name:'data', allowBlank:true});
		Ext.apply(this, {
			layout: 'hbox',
			layoutConfig:{
                align:'stretch'
			},
			items:[new cacerp.PagedGrid({
				sm: new Ext.grid.RowSelectionModel({singleSelect:true}),
				tbar:[{
			        text: 'Genera etichette',
			        iconCls: 'genera-etichette',
					scope: this,
					handler: function(button){
						location.href='{% url callcenter.views.genEtichette %}';
					}
        		},{
        			text:'Marca come spedite',
        			iconCls:'rimuovi-etichette',
        			scope:this,
        			handler:function(button){
        				Ext.Ajax.request({
        					url: '{% url callcenter %}lettersSent',
        					method:'POST',
        					scope:this,
        					failure:function(){
        						Ext.MessageBox.alert('Errore', 'Errore nel server :' + result.responseText);
        					},
        					success:function(){
        						showMessage('Spedizione lettere', 'Tutte le lettere in spedizione sono state marcate come spedite');
        						this.items.items[0].store.reload();
        					}
        				});
        			}
        		}],
				columns:etichette_columns.slice(),
				store: new Ext.data.Store({
				   	reader: new Ext.data.JsonReader({
						root: 'root',
			            totalProperty: 'totalCount',
					}, readerconf),
				   	autoLoad: {params:{start:0, limit:500}},
					proxy: new Ext.data.HttpProxy({url: '{% url callcenter.views.LetterePersone %}', method: 'GET'})
				}),
				listeners:{
					'rowdblclick': displayPerson
				}
			})]
		});
		cacerp.EtichettePanel.superclass.initComponent.apply(this, arguments);
	}
});

cacerp.LastCallsPanel = Ext.extend(Ext.Panel,{
	initComponent: function(){
		var columns = listcolumns.slice(0,6);
		columns.push.apply(columns, listcolumns.slice(8,8));
		columns.push({header: 'Data ultima chiamata', width: 130, sortable:true, dataIndex:'data_ultima_chiamata'});
		var readerconf = listreader.slice();
		readerconf.push({name: 'data_ultima_chiamata', allowBlank: true});
		Ext.apply(this, {
			layout: 'hbox',
			layoutConfig:{
                align:'stretch'
			},
			items:[new cacerp.PagedGrid({
				flex: 4,
				margins:'0 20 0 0',
				sm: new Ext.grid.RowSelectionModel({singleSelect:true}),
				tbar:[{
			        text: 'Visualizza Chiamate',
			        iconCls: 'visualizza',
					scope: this,
					handler: function(button){
						user_id = button.ownerCt.ownerCt.getSelectionModel().getSelected();
						if(user_id)
							this.items.get(1).user_id = user_id.id;
						else
							this.items.get(1).user_id = null;
						this.items.get(1).store.proxy.setUrl('{% url callcenter.views.Chiamate id=None %}/'+user_id.id);
						this.items.get(1).store.load({params:{start:0, limit:500}});
					}
        		}],
				columns: columns,
				store: new Ext.data.Store({
						   	reader: new Ext.data.JsonReader({
								root: 'root',
					            totalProperty: 'totalCount',
							}, readerconf),
						   	autoLoad: {params:{start:0, limit:500}},
							proxy: new Ext.data.HttpProxy({url: '{% url callcenter.views.ultimePersoneChiamate %}', method: 'GET'}),
						}),
				listeners:{
					'rowdblclick': displayPerson
				}
			}), new cacerp.PagedGrid({
				flex: 3,
				columns: [
		            {header: 'Data', sortable: true, width: 160, dataIndex: 'data'},
		            {header: 'Risposta', sortable: true, dataIndex: 'risposta'}
	        	],
				store: new Ext.data.Store({
						   	reader: new Ext.data.JsonReader({
								root: 'root',
					            totalProperty: 'totalCount',
							}, [
								{name: 'id'},
							    {name: 'data', allowBlank: true},
							    {name: 'risposta', allowBlank: true}
							]),
							proxy: new Ext.data.HttpProxy({url: 'Chiamate/', method: 'GET'}),
						})
			})]
		});
		cacerp.LastCallsPanel.superclass.initComponent.apply(this, arguments);
	}
});		

/**
 * The rendering part starts here
 */


Ext.onReady(function() {
	Ext.QuickTips.init();
	
	var searchCounter = 0;
	
    var viewport = new Ext.Viewport({
        layout:'fit',
        items:[{
            xtype: 'grouptabpanel',
    		tabWidth: 130,
    		activeGroup: 0,
			id:'tabpanel',
    		items: [{
                expanded: true,
				id:'lists',
                items: [{
                    title: 'Liste',
                    tabTip: 'Configuration tabtip',
                }, 
				new cacerp.PagedGrid({
					title:'Clienti',
					tabTip: 'Lista dei clienti',
					iconCls: 'x-icon-clienti',
					store: new Ext.data.Store({
					   	reader: reader,
						baseParams: {cliente:'on'},
					   	autoLoad: {params:{start:0, limit:500}},
						proxy: new Ext.data.HttpProxy({url: '{% url api %}search/Persona.json', method: 'GET'}),
					})
				}),
				new cacerp.PagedGrid({
					title:'Portatori',
					tabTip: 'Lista dei portatori',
					iconCls: 'x-icon-portatori',
					store: new Ext.data.Store({
					   	reader: reader,
						baseParams: {cliente:'off', porta_apparecchio:'on', venuto:'off'},
					   	autoLoad: {params:{start:0, limit:500}},
						proxy: new Ext.data.HttpProxy({url: '{% url api %}search/Persona.json', method: 'GET'}),
					})
				}),
				new cacerp.PagedGrid({
					title:'Portatori V.',
					tabTip: 'Lista dei portatori venuti',
					iconCls: 'x-icon-portatori-venuti',
					store: new Ext.data.Store({
					   	reader: reader,
						baseParams: {cliente:'off', problemi_udito:'on', porta_apparecchio:'on', venuto:'on'},
					   	autoLoad: {params:{start:0, limit:500}},
						proxy: new Ext.data.HttpProxy({url: '{% url api %}search/Persona.json', method: 'GET'}),
					})
				}),
				new cacerp.PagedGrid({
					title:'Potenziali',
					tabTip: 'Persone potenziali clienti',
					iconCls: 'x-icon-potenziali',
					store: new Ext.data.Store({
					   	reader: reader,
						baseParams: {cliente:'off', problemi_udito:'on', venuto:'off'},
					   	autoLoad: {params:{start:0, limit:500}},
						proxy: new Ext.data.HttpProxy({url: '{% url api %}search/Persona.json', method: 'GET'}),
					})
				}),
				new cacerp.PagedGrid({
					title:'Potenziali V.',
					tabTip: 'Persone potenziali clienti che sono venuti al centro acustico',
					iconCls: 'x-icon-potenziali-venuti',
					store: new Ext.data.Store({
					   	reader: reader,
						baseParams: {cliente:'off', problemi_udito:'on', venuto:'on'},
					   	autoLoad: {params:{start:0, limit:500}},
						proxy: new Ext.data.HttpProxy({url: '{% url api %}search/Persona.json', method: 'GET'}),
					})
				})
				]
            }, {
				expanded: true,
				id:'Funzioni',
                items: [{
                    title: 'Funzioni',
                    tabTip: 'Configuration tabtip',
                    html: ''
                }, {
					title: 'Cerca',
					iconCls: 'x-icon-cerca',
					layout:'fit',
					items: [{
						xtype:'tabpanel',
						activeTab:0,
						id:'tab-cerca',
						items: [{
							title: 'Cerca',
							xtype: 'form',
					        defaultType: 'textfield',
							formId: 'SearchFormId',
							id: 'SearchForm',
							autoScroll: true,
					
					        items: persona_fields,
					
					        buttons: [{
					            text: 'Cerca',
								handler: function(result, request){
									var form_values = Ext.getCmp('SearchForm').getForm().getValues();
									var newreader = new Ext.data.JsonReader({
										root: 'root',
							            totalProperty: 'totalCount',
									}, listreader);	
									var newstore = new Ext.data.Store({
											   	reader: newreader,
												baseParams: form_values,
											   	autoLoad: {params:{start:0, limit:500}},
												proxy: new Ext.data.HttpProxy({url: '{% url api %}search/Persona.json', method: 'GET'}),
											});
									Ext.getCmp('SearchForm').getForm().reset();
									Ext.getCmp('tab-cerca').add({
										title: searchCounter,
										id:'risultatoGrid'+searchCounter,
										xtype:'grid',
										stateful: true,
										stateId: 'grid',
										autoScroll: true,
										store: newstore,
										columns: listcolumns.slice(),
										remoteSort: true,
										bbar: new Ext.PagingToolbar({
										    store: newstore,
										    pageSize:500,
										    displayInfo:true,
									    }),
										view: new Ext.ux.grid.BufferView({
										    scrollDelay: false,
											forceFit:true,
											getRowClass: function(record, index, rowparams, store){
												if(record.get("cliente") == 1){
													return 'row-cliente';
												}
												return '';
											}
									    })
									});
									Ext.getCmp('risultatoGrid'+searchCounter).on('rowdblclick', displayPerson);
									searchCounter = searchCounter + 1;
									Ext.getCmp('tab-cerca').setActiveTab(searchCounter);
						
								}	
					     	},{
					            text: 'Cancella',
								handler: function(){Ext.getCmp('SearchForm').getForm().reset();}
					        }]
								}]
					}]
				}, {
					title: 'Aggiungi',
					iconCls: 'x-icon-aggiungi',
					xtype: 'form',
			        defaultType: 'textfield',
					formId: 'addFormId',
					id: 'addForm',
					autoScroll: true,
			
			        items: persona_fields,
			
			        buttons: [{
			            text: 'Salva',
						handler: function(){
							 Ext.Ajax.request({
			 					url: '{% url api %}Persona.json',
			 					method: 'POST',
			 					form: 'addFormId',
			 					failure: function ( result, request) { 
											Ext.MessageBox.alert('Errore', result.responseText); 
											},
								success:function(result,request){
									Ext.Msg.show({
									   title:'Utente inserito nel database',
									   msg: 'Hai correttamente inserito una nuova persona',
									   buttons: Ext.Msg.OK,
									   fn: function(){
									   	Ext.getCmp('addForm').getForm().reset();
									   },
									   icon: Ext.MessageBox.INFO
									});
								} 
							});
						}	
			     	},{
			            text: 'Cancella',
						handler: function(){Ext.getCmp('addForm').getForm().reset();}
			        }]
				},{
					expanded: true,
					layout:'fit',
					title: 'Chiamate',
					iconCls: 'x-icon-ultime-chiamate',
					items:[new cacerp.LastCallsPanel()],
					listeners:{
						'activate': function(){
							this.items.get(0).items.get(0).store.reload();
						}
					}
				},{
					expanded: true,
					layout:'fit',
					title: 'Etichette postali',
					iconCls: 'x-icon-ultime-chiamate',
					items:[new cacerp.EtichettePanel()],
					listeners:{
						'activate': function(){
							this.items.get(0).items.get(0).store.reload();
						}
					}
				}]
			}]
		}]
    });
		
	Ext.getCmp('lists').items.each(function(item){ 
		item.on('rowdblclick', displayPerson); 
	});  
});
		</script>
	</head>
	<body>
	</body>
</html>
