<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>CacERP Management</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" type="text/css" href="/site_media/ext/resources/css/ext-all.css">
<link href="/site_media/css/default.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/site_media/ext/adapter/ext/ext-base.js"></script>
<script type="text/javascript" src="/site_media/ext/ext-all-debug.js"></script>
<script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
{% block head %}{% endblock %}
<script type="text/javascript">
{% block app %}{% endblock %}
</script>
</head>
<body>
<div id="header">
{% block header %}
	<h1>Centro Acustico Certosa</h1>
	<h2>Gestione Clienti</h2> 
{% endblock %}
</div>
<!-- end #header -->
<div id="menu">
{% block menu %}
	<ul>
		<li class="first"><a href="{% url callcenter.views.clienti_list %}" accesskey="1" title="">Clienti</a></li>
		<li><a href="{% url callcenter.views.portatori_list %}" accesskey="2" title="">Portatori</a></li>
		<li><a href="{% url callcenter.views.portatori_venuti_list %}" accesskey="3" title="">Portatori venuti</a></li>
		<li><a href="{% url callcenter.views.potenziali_list %}" accesskey="4" title="">Potenziali</a></li>
		<li><a href="{% url callcenter.views.potenziali_venuti_list %}" accesskey="5" title="">Potenziali venuti</a></li>
	</ul>
{% endblock %}
</div>
<!-- end #menu -->
<div id="content">
	<div id="posts">
	{% block content %}
	{% endblock %}
	</div>
	<div id="links">
	{% block sidebar %}
	<ul>
	<LI><h1>Funzioni</h1></LI>
	<ul>
		<LI><a href="{% url callcenter.views.search %}">Cerca</a></LI>
		<li><a href="{% url callcenter.views.add %}">Aggiungi</a></li>
	</ul>
	</ul>
	{% endblock %}
	</div>
	<div style="clear: both;">&nbsp;</div> 
</div>
{% if debug %}
{{queries}}
{% endif %}
<!-- end #content -->
<div id="footer">
	<p id="legal">Copyright &copy; 2007 Logistix. Designed by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a></p>
</div>
<!-- end #footer -->
</body>
</html>
